div.accordion {
  a {
    color: #333;
  }
  a.disabled {
    color: #ccc;
    cursor: default;
  }

  .accordion-heading {
    .form-inline {
      margin: 3px 3px 0 0;
    }
    .test-label {
      padding: 8px 15px;
    }
  }
}
